<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Angular Events</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/welcome']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
      </li>
      <li class="nav-item">
            <a class="nav-link" [routerLink]="['/events']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Eventos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/events/add']" [routerLinkActive]="['active']">Añadir evento</a>
        </li>
    </ul>
</nav>
  