<form class="mt-4" (ngSubmit)="createEvent()" #eventForm="ngForm" novalidate>
    <div class="form-group">
        <label for="name">Nombre</label>
        <input  type="text" required minlength="5" class="form-control" #titleModel="ngModel"
                [ngClass]="validClasses(titleModel)"
                name="title" [(ngModel)]="newEvent.title" placeholder="Enter name">
        <div class="invalid-feedback">Debes introducir un nombre</div>
    </div>
    <div class="form-group">
        <label for="date">Fecha</label>
        <input  type="datetime-local" required class="form-control" name="date" 
                [(ngModel)]="newEvent.date" [minDate]="fechaHoy"
                #dateModel="ngModel"
                [ngClass]="validClasses(dateModel)">
        <div class="invalid-feedback">La fecha debe ser posterior a la actual</div>
    </div>
    <div class="form-group">
        <label for="description">Descripción</label>
        <textarea   required class="form-control" name="description" rows="3" 
                    [(ngModel)]="newEvent.description"
                    #descModel="ngModel"
                    [ngClass]="validClasses(descModel)">
        </textarea>
        <div class="invalid-feedback">Debes introducir una descripción</div>
    </div>
    <div class="form-group">
        <label for="price">Precio</label>
        <input  type="number" required class="form-control"  name="price" min="0.00" max="10000.00" step="0.01" 
                [(ngModel)]="newEvent.price"
                #priceModel="ngModel"
                [ngClass]="validClasses(priceModel)">
        <div class="invalid-feedback">Debes introducir un precio mayor que 0 y menor que 10000</div>
    </div>
    <div class="form-group">
        <label for="image">Imagen</label>
        <input type="file" class="form-control" name="image" #fileImage (change)="changeImage(fileImage)">
    </div>
    <img [src]="newEvent.image" alt="" class="img-thumbnail">

    <button type="submit" class="btn btn-primary" [disabled]="eventForm.invalid">Create</button>
</form>
