<div class="card">
    <a [routerLink]="['/events/'+event.id]"><img class="card-img-top" [src]="event.image"></a>
    <div class="card-body">
        <h4 class="card-title"><a [routerLink]="['/events/'+event.id]">{{ event.title }}</a></h4>
        <p class="card-text">{{ event.description }}</p>
        <button class="btn btn-danger ml-3 float-right" (click)="deleteEvent()">Delete</button>
    </div>
    <div class="card-footer text-muted">
        {{ event.date | date:'dd/MM/y' }}
        <span class="float-right">{{ event.price | currency:'EUR':'symbol' }}</span>
    </div>
</div>